:root {
  --d-sbl: #C2DDFF;
  --d-or: #FE5500;
  --d-ye: #FFE24F;
  --d-wh: #fcfcfc;
  --d-bk: #171717;
  --d-gr1: #9b8e8c;
  --d-gr2: #dfdfdf;
}

body {
  margin: 0;
  line-height: 1;
  font-family: 'Pretendard', Helvetica, sans-serif;
  background: var(--d-sbl);

}
